
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Catering Management</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/">Sign out</a>
    </li>
  </ul>
</nav>

        <h1 class="h2 dh2">Dashboard</h1>


        

        <div class="row cont">
            <a href="/allorders" type="button" class="btn btn-secondary btn-lg col-md-5 e">All Orders</a>
            <a href="/stock" type="button" class="btn btn-secondary btn-lg col-md-5 e">Stock</a>
            <a href="/food" type="button" class="btn btn-secondary btn-lg col-md-5 e">Food</a>
            </div>

        


        
       
  


        <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.7.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
        </body>
</html>