<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   

    <style>
        body{
            background-image: url("test2.jpg");
        }
        .textedit{
            text-align: center;
            margin-top: 20%;
        }
    
    </style>

<link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal heading-editing" style="font-size: 30px; font-family: 'Acme', sans-serif; color:#35495e;">Catering Management</h5>
   <a class="btn waves-effect waves-light orderhere" style="margin-top: 0px;" href="/aboutme">about me</a>
   <a class="btn  waves-light" href="https://github.com/PrithviGudodagi/cateringmanagement" style="margin-left: 5px;">Project Github link</a>
   <a class="btn  waves-light" href="/admin" style="margin-left: 5px;">ADMIN</a>
         </div>
      <!-- <h1 class="textedit" style="font-family: 'Pacifico', cursive; font-size: 40px;    color: #239f95;">GOOD FOOD MAKES GOOD DAY :)</h1> -->

<a  class="btn waves-effect waves-light orderhere" href="/index">Order Here</a>

   
    

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.7.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>
</html>