

.dh2{
    margin-top: 40px;
  margin-left: 10px;
  
}

.cont{
    margin-top: 10%;
}

.e{
    margin-left: 30%;
    margin-top: 50px;
}

.edit-t{
    font-family: 'Bitter', serif;
    font-size: 24px;
}

.head-edit{
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}