.dh2{
    margin-top: 40px;
  margin-left: 10px;
  
}

.cont{
    margin-top: 10%;
}

.edit-list1{
margin-left: 50px;
margin-right: 50px;
}
.edit-list2{
margin-left: 50px;
margin-right: 50px;
}

.edit-list3{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.edit-list4{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.edit-list5{
    margin-top: 50px;
    margin-left: 430px;
}